*,
::after
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    gap: 20px;
    justify-content: space-between;
}
.btn {
    background-color: black;
    color: white;
    width: 344px;
    height: 65px;
    border-radius: 0px;
}